/******************************** Global Configuration ********************************/

* {
    box-sizing: border-box;
    word-break: break-word;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}


